In [9]:
import os
path = 'C:/Users/MissBleu/Documents/NSFxml2'
os.listdir(path)
import glob
glob.glob(path + '/*.xml')
import pandas as pd
df2013 = pd.DataFrame(columns=('institution', 'city', 'amount'))
df2013

Empty DataFrame
Columns: [institution, city, amount]
Index: []

In [10]:
from lxml import etree

in_f = open('C:/Users/MissBleu/Documents/NSFxml2/1300040.xml')
tree = etree.parse(in_f)

for amt in tree.xpath('//AwardAmount'):
    amount = amt.text
for df in tree.xpath('//Institution'):
    for sf in df.getchildren():
        if sf.tag == "Name":
            Name = sf.text
        if sf.tag == "CityName":
            City= sf.text
            
    print (Name, City, amount)

('University of Rochester', 'Rochester', '1742')

In [17]:
from lxml import etree
import pandas as pd

def makeSeries(filename):
    df2013 = pd.DataFrame(columns=('institution', 'city', 'amount'))
    in_f = open(filename)
    tree = etree.parse(in_f)
    for amt in tree.xpath('//AwardAmount'):
        amount = amt.text
    for df in tree.xpath('//Institution'):
        for sf in df.getchildren():
            if sf.tag == "Name":
                institution = sf.text
            if sf.tag == "CityName":
                city= sf.text       
    row = dict(zip(['institution', 'city', 'amount'], [institution, city, amount]))
    row_s = pd.Series(row)
    row_s.name = filename
    df2013 = df2013.append(row_s)
    return df2013

makeSeries("C:/Users/MissBleu/Documents/NSFxml2/1300040.xml")

,institution,city,amount
C:/Users/MissBleu/Documents/NSFxml2/1300040.xml,University of Rochester,Rochester,1742

In [18]:
for filename in glob.glob(path + '/*.xml'):
    tree= etree.parse(open(filename))
    for amt in tree.xpath('//AwardAmount'):
        amount = amt.text
    for leaves in tree.xpath('//Institution'):
        for sf in leaves.getchildren():
            if sf.tag == "Name":
                institution = sf.text
            if sf.tag == "CityName":
                city= sf.text
    row = dict(zip(['institution', 'city', 'amount'], [institution, city, amount]))
    row_s = pd.Series(row)
    row_s.name = filename
    df2013 = df2013.append(row_s)
df2013.head()

,institution,city,amount
C:/Users/MissBleu/Documents/NSFxml2\1300007.xml,George Mason University,FAIRFAX,360000
C:/Users/MissBleu/Documents/NSFxml2\1300010.xml,University of Michigan Ann Arbor,Ann Arbor,408194
C:/Users/MissBleu/Documents/NSFxml2\1300019.xml,Georgia Tech Research Corporation,Atlanta,289417
C:/Users/MissBleu/Documents/NSFxml2\1300024.xml,Oklahoma State University,Stillwater,150000
C:/Users/MissBleu/Documents/NSFxml2\1300026.xml,Temple University,PHILADELPHIA,165883

In [19]:
df2013.to_csv("C:/Users/MissBleu/Documents/2013.csv")

In [ ]:
grouped = df.groupby(['institution'])
output = grouped.size()

In [ ]:
list(df['institution'].unique())

In [20]:
import os
path = 'C:/Users/MissBleu/Documents/NSF2014'
os.listdir(path)
import glob
glob.glob(path + '/*.xml')
import pandas as pd
df2014on = pd.DataFrame(columns=('institution', 'city', 'amount'))
df2014on

Empty DataFrame
Columns: [institution, city, amount]
Index: []

In [21]:
for filename in glob.glob(path + '/*.xml'):
    tree= etree.parse(open(filename))
    for amt in tree.xpath('//AwardAmount'):
        amount = amt.text
    for leaves in tree.xpath('//Institution'):
        for sf in leaves.getchildren():
            if sf.tag == "Name":
                institution = sf.text
            if sf.tag == "CityName":
                city= sf.text
    row = dict(zip(['institution', 'city', 'amount'], [institution, city, amount]))
    row_s = pd.Series(row)
    row_s.name = filename
    df2014on = df2014on.append(row_s)
df2014on.head()

,institution,city,amount
C:/Users/MissBleu/Documents/NSF2014\1400009.xml,University of Pittsburgh,Pittsburgh,250000
C:/Users/MissBleu/Documents/NSF2014\1400017.xml,University of South Florida,Tampa,310671
C:/Users/MissBleu/Documents/NSF2014\1400018.xml,North Carolina State University,RALEIGH,461000
C:/Users/MissBleu/Documents/NSF2014\1400019.xml,Kent State University,KENT,45000
C:/Users/MissBleu/Documents/NSF2014\1400027.xml,Pennsylvania State Univ University Park,UNIVERSITY PARK,244000

In [23]:
df2014on.to_csv("C:/Users/MissBleu/Documents/2014on.csv", encoding = 'utf-8')